.HomeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.namedescimg{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.name {
    font-size: 48px;
  font-family: "Montserrat";
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
  font-optical-sizing: auto;
  font-style: normal;
}

.subname {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.namedesc{
    opacity: 0.7;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
}   

.profileimage{
   
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: content-box;
    filter: grayscale(100%);    
    object-fit: cover;
    
    

}