@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 10px;
  padding: 10px;
  
  background-color: #FCFEFE;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background-color: #b4b8e0;
  transition-timing-function: ease-in-out;
  transition-duration: 2000ms;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8892ff;

}
